.horizontally_centered {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner_search {
  display: inline-block;
  background-color: #FFFFFF;
  border-radius: .25rem;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  gap: .5rem;
  width: fit-content;
  padding: 1rem;
}

.banner_search_input {
  font-family: sans-serif;
  font-size: 1.25rem;
  border: 0;
}

.banner_search_icon {
  font-size: 1.5rem;
}

.banner_search_button {
  gap: .5rem;
  background-color: #6972FA;
  color: #FFFFFF;
  border-radius: .5rem;
  font-size: 1.25rem;
  padding: .5rem;
}
