.header {
  justify-content: space-between;
  padding: 2vw 5vw 2vw 5vw;
  font-family: sans-serif;
}

.header a {
  color: #000000;
  text-decoration: none;
}

.header .tabs {
  gap: 2rem;
}

.header .tabs .home {
  font-size: 2rem;
  font-weight: 500;
}

.header .tabs .page_tabs {
  font-size: 1.4rem;
  font-weight: 500;
  border-bottom: 4px solid #6972FA;
  padding-bottom: .25rem;
}

.header .accounts {
  gap: 2rem;
  font-size: 1.4rem;
}

.header .accounts .sign_in a {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  color: #6972FA;
}

.header .accounts .sign_up a {
  background-color: #6972FA;
  color: #FFFFFF;
  padding: 1rem;
  border-radius: .5rem;
}
