.job_card {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1.5rem;
  border-radius: .5rem;
  border: 1px solid #E4E5E8;
}

.second_row {
  justify-content: flex-start;
  gap: .5rem;
  color: #767F8C;
}

.remote_status {
  border-radius: .25rem;
  padding: .25rem .5rem .25rem .5rem;
  background-color: #E7F6EA;
  color: #0BA02C;
  text-transform: uppercase;
}

.third_row {
  justify-content: space-between;
  padding-top: .75rem;
}

.company_info {
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.company_location {
  color: #767F8C;
  gap: .25rem;
}

.icon {
  border-radius: .25rem;
}

.bookmark_icon {
  color: #C8CCD1;
}
